Solution/bin/

Solution/obj/

SolutionTests/bin/

SolutionTests/obj/

EulerFS/bin/

EulerFS/obj/

Euler/bin/

Euler/obj/

euler\.sln\.DotSettings\.user

\.idea/
*.orig
.vs/
UpgradeLog.htm
Backup/euler.sln
