SolutionCS/bin/

SolutionCS/obj/

SolutionFS/bin/

SolutionFS/obj/

SolutionTestsCS/bin/

SolutionTestsCS/obj/

SolutionTestsFS/bin/

SolutionTestsFS/obj/

EulerFS/bin/

EulerFS/obj/

EulerCS/bin/

EulerCS/obj/

euler\.sln\.DotSettings\.user

\.idea/
*.orig
.vs/
UpgradeLog.htm
Backup/euler.sln
ProjectEuler.sln.DotSettings.user
SolutionCS/SolutionCS.csproj.user
